name: shellcheck
on:
  push:
    paths:
      - "**/*.sh"
      - ".github/workflows/shellcheck.yml"
  pull_request:
    paths:
      - "**/*.sh"
      - ".github/workflows/shellcheck.yml"
permissions:
  contents: read
jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ludeeus/action-shellcheck@2.0.0
